* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

figure,
a,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.loading .loader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}
.loading .loader > div .dot {
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
  animation: fx 1000ms ease infinite 0ms;
}
.loading .loader > div .dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
  animation: fx 1000ms ease infinite 300ms;
}
.loading .loader > div .dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
  animation: fx 1000ms ease infinite 600ms;
}

.home {
  display: flex;
}
.home .side {
  position: fixed;
  width: 250px;
  left: 0;
  height: 100vh;
  background-color: #f5f9fb;
  border-right: 1px solid #d7e5ee;
}
@media (max-width: 991.98px) {
  .home .side {
    transition: all ease 0.5s;
    left: -256px;
  }
  .home .side.sidenav-collaped {
    left: 0;
  }
}
.home .side::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 5;
}
.home .side .overlay {
  cursor: pointer;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
.home .side .toggleSide {
  display: none;
  cursor: pointer;
}
.home .side .toggleSide.toggleSide-close line {
  stroke: #fff;
}
@media (max-width: 991.98px) {
  .home .side .toggleSide {
    display: inline-block;
    right: -34px;
    z-index: 56;
    position: absolute;
    top: 15px;
  }
  .home .side .toggleSide line {
    stroke: #24598c;
  }
}
.home .side figure {
  padding: 20px;
  position: relative;
  z-index: 6;
}
.home .side figure svg {
  fill: #24598c;
}
.home .side h2 {
  position: relative;
  z-index: 6;
  padding: 20px;
  margin-bottom: 15px;
}
.home .side ul {
  position: relative;
  z-index: 6;
  text-align: center;
}
.home .side ul li {
  margin-bottom: 10px;
}
.home .side ul li.active, .home .side ul li:hover {
  background: #24598c;
}
.home .side ul li.active a, .home .side ul li:hover a {
  color: #fff;
}
.home .side ul li.active a svg path, .home .side ul li:hover a svg path {
  fill: #fff;
}
.home .side ul li a {
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  transition: all 0.3s ease-in-out;
}
.home .side ul li a svg path {
  fill: #24598c;
  transition: all 0.3s ease-in-out;
}
.home .side-nav {
  width: 250px;
  min-height: 100vh;
}
@media (max-width: 991.98px) {
  .home .side-nav {
    width: 0;
  }
}
.home .content {
  width: calc(100% - 500px);
  padding: 30px 15px;
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .home .content {
    width: calc(100% - 250px);
  }
}
@media (max-width: 991.98px) {
  .home .content {
    width: 100%;
  }
}
.home .empty-section {
  width: 250px;
}
@media (max-width: 1199.98px) {
  .home .empty-section {
    display: none;
  }
}
.home .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .home .tabs {
    margin-top: 15px;
  }
}
.home .tabs h2 {
  color: #0d2229;
}
.home .tabs ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.home .tabs ul li {
  cursor: pointer;
  color: rgba(136, 136, 136, 0.584);
}
.home .tabs ul li.active {
  color: #24598c;
}
.home .post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .home .post-list {
    justify-content: center;
  }
}
.home .post-list > div {
  width: 48%;
}
@media (max-width: 575.98px) {
  .home .post-list > div {
    width: 85%;
  }
}
.home .post-list .posts {
  width: 48%;
}
@media (max-width: 575.98px) {
  .home .post-list .posts {
    width: 85%;
  }
}
.home .single-post {
  max-width: 500px;
  margin-bottom: 50px;
}
.home .single-post .single-img img {
  width: 100%;
  min-width: 250px;
  max-height: 350px;
  border-radius: 20px;
  height: 100%;
  padding: 2px;
  border: 2px solid #d7e5ee;
}
.home .single-post .single-control {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.home .single-post .single-control figure {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
@media (max-width: 440px) {
  .home .single-post .single-control figure {
    font-size: 13px;
  }
}
.home .single-post .single-control figure img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.home .single-post .single-control ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.home .single-post .single-control ul li {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.home .single-post .single-control ul li svg,
.home .single-post .single-control ul li img {
  width: 30px;
  height: 30px;
}
@media (max-width: 575.98px) {
  .home .single-post .single-control ul li svg,
  .home .single-post .single-control ul li img {
    width: 20px;
  }
}
.home .single-post .single-control ul li svg path {
  fill: #24598c;
}
.home .single-post figure {
  margin: 0;
  display: flex;
}

@-webkit-keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
